<% team.events.sort_by{|e| [e.date,e.time]}.group_by(&:date).each do |group| %>
	<% date = group.first.strftime("%A, %b #{group.first.day.ordinalize}") %>
	<% events = group.last %>

	<div class="row">
		<div class="cal-day">
			<h3> <%= date %> </h3>
			<% events.each do |event| %>
				<%= render :partial => "events/event_details", :locals => { :event => event } %>
				<%= render :partial => "events/form", :locals => { :event => event } %>
			<% end %>
		</div>
	</div>
<% end %>