<%= render :partial => "layouts/header" %>

<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">
	<div class="page-content">				
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="row tiles-container	m-b-20 ">
						<div class="tiles white p-t-15 p-l-15 p-r-15 p-b-25 text-center">
							<h2 class="text-center">Welcome
								<span class="semi-bold text-success"><% @team.name.titleize %></span>
							</h2>
							<h4 class="text-center muted m-l-10 m-r-10">First step is to create an Event.</h4>
							<button type="button" data-toggle="modal" data-target="#add_event" class="btn btn-primary m-t-20 btn-cons">
								<i class="fa fa-add"></i>&nbsp;Add Event
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= hidden_field_tag "team_id", @team.id %>
<%= hidden_field_tag "team_page", "welcome" %>
<%= render :partial => "events/form", :locals => { :event => Event.new } %>