<%= @message.user.name.titleize %> has posted new message.

<div style="margin: 15px;padding-left: 5px;">
	<%= @message.text %>

</div>

<br>
<input type="hidden" value="<%= @message.id %>" name="parent_id">
<br>
<%= link_to "Go to #{@message.team.name.titleize}", team_url(@message.team), :class => "btn btn-primary" %>