<% user_events.each do |date, events| %>
	<div class="cal-day">
		<h3>
			<%= date.strftime("%A, %b #{date.day.ordinalize}") %>
		</h3>
				
		<% events.each do |event| %>
			<%= render :partial => "events/event_details", :locals => { :event => event } %>
			<%= render :partial => "events/form", :locals => { :event => event } %>
		<% end %>
	</div>
<% end %>