<%= form_for(player_avatar, html: { multipart: true, class: "dropzone team-pic no-margin", :id => "player-avatar"}) do |f|  %>

	<i class="fallback fa fa-users fa-7x"></i>
	<div class="dz-default dz-message">
		<%= f.file_field :avatar , :class=>"img", :style=>"display:none;"%>
	</div>

<% end %>