<%= render :partial => "layouts/header" %>

<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">
	<%= render :partial => "layouts/side_panel" %>
	<div class="page-content">				
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="row tiles-container	m-b-20 ">
						<div class="tiles white p-t-15 p-l-15 p-r-15 p-b-25 text-center">
							<h2 class="text-center">Welcome
								<span class="semi-bold text-success"><% current_user.name.titleize %></span>
							</h2>
							
							<% if current_user.teams.count==0%>
								<h4 class="text-center muted m-l-10 m-r-10">First step is to create a Team.</h4>
								<button type="button" data-toggle="modal" data-target="#add_team" class="btn btn-primary m-t-20 btn-cons">
									<i class="fa fa-add"></i>&nbsp;Add New Team
								</button>
								
							<%elsif current_user.get_all_events.count==0 %>

								<h4 class="text-center muted m-l-10 m-r-10">Congratulations! You have completed first step, Now create an event in your team.</h4>
								<button type="button" data-toggle="modal" data-target="#add_event" class="btn btn-primary m-t-20 btn-cons">
									<i class="fa fa-add"></i>&nbsp;Add New Event
								</button>
									

							<%end%>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "teams/form", :locals => { :team => Team.new, :team_avatar => TeamAvatar.new } %>
<%= render :partial => "events/form", :locals => { :event => Event.new } %>