<div class="display-team-avatar">
	<img alt="<%= team_avatar.avatar.instance.avatar_file_name %>" src="<%= team_avatar.avatar.url(:thumb) %>">
	<br/>
	<% if team_avatar.user == current_user %>
		<div class="btn remove-team-avatar" id="<%= team_avatar.id %>"> Remove Team Avatar </div>
	<% end %>
</div>

<% if team.new_record? %>
	<h4 class="semi-bold">Add a New Team</h4>
<% else %>
	<h4 class="semi-bold"> Edit Team <%= team.name.titleize if team %> </h4>
<% end %>