.something{
    display:inline;
}
.img{
    display: none !important;
}
.response{
	padding-left: 15px;
	padding-right: 15px;
	color: #4d5056;
}
label {
display: inline-block;
cursor: pointer;
position: relative;
padding-left: 3px;
padding-right: 5px;
font-size: 13px;
margin-bottom: 6px;
color: #4d5056;
}