#add-player-form .form-control-feedback {
	top: -35px;
	right: 15px;
	float: right;
	color: #a94442;
}

#add-player-form .help-block {
	color: #a94442;
	margin-top: -10px;
}

#add-player-form .glyphicon-ok {
	color: #5BA85F;
}